.featureCards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #f1f4f9;
}

.featureCard {
  width: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
}

.cardContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  cursor: pointer;
  flex-shrink: 0;
  gap: 0;
  padding: 20px;
}

.cardImage {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  max-width: 220px;
  height: 100%;
  max-height: 640px;

  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    width: var(--card-width);
    height: var(--card-width);
    background-color: var(--circle-color);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
  }

  img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
  }
}

.cardNumber {
  width: 100%;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin-bottom: 20px;
}

.cardTitle {
  width: 100%;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 20px;
}

.cardDescription {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}
