// vw helper: convert px to vw based on a 1440px desktop base
$vw-base: 1440;
@function vw($px, $base: $vw-base) {
  @return ($px / $base) * 100vw;
}

.button {
  position: relative;
  padding: vw(8) vw(16);
  border: none;
  border-radius: vw(20);
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 vw(2) vw(8) rgba(0, 0, 0, 0.08);
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% - vw(4));
    height: calc(100% - vw(4));
    top: vw(2);
    left: vw(2);
    border-radius: vw(20);
    z-index: 1;
  }

  &:not(.green, .blackberry, .strawberry, .orange) {
    color: #242f4b;
    background-color: #f1f4f9;
  }

  &.green,
  &.strawberry,
  &.orange,
  &.blackberry {
    width: vw(166);
    padding: vw(12) vw(16);
    border-radius: vw(30);
    box-shadow: 0vw vw(-7) vw(9) 0vw #00000040;

    &::before {
      border-radius: vw(30);
    }
  }

  &.green {
  }

  &.blackberry {
    color: #fff;
    background: linear-gradient(180deg, #ffffff 2px, #a991e3 35%);

    &::before {
      background-color: #a991e3;
    }
  }

  &.strawberry {
  }

  &.orange {
    color: #0b0909;
    background: linear-gradient(180deg, #ffffff 2px, #fac996 35%);

    &::before {
      background-color: #fac996;
    }
  }

  &:hover {
    background-color: #e6edf5;
    box-shadow: 0 vw(4) vw(12) rgba(0, 0, 0, 0.12);
  }

  &:active {
    background-color: #dde5ed;
  }

  &:focus {
    outline: none;
    outline-offset: none;
  }
}

.text {
  position: relative;
  font-size: vw(16);
  font-weight: 500;
  font-family: "IBM Plex Sans", system-ui, sans-serif;
  z-index: 2;
}
