.slideHero {
  position: relative;
  min-height: 100vh;
}

.slideLogo {
  position: absolute;
  width: 100%;
  max-width: 949px;
  display: flex;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  z-index: 1;
}

.slideImage {
  position: absolute;
  width: 100%;
  max-width: 241px;
  height: 100%;
  max-height: 640px;
  display: flex;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  z-index: 3;

  img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 3;
  }
}
